BOT_TOKEN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_HOST=

LOLZ_MERCHANT_ID=
LOLZ_CALLBACK_URL=
LOLZ_API_KEY=

REMNAWAVE_API_URL=
REMNAWAVE_API_KEY=

REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=